# Node modules
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.* 
*.env

# Build outputs
dist/
build/
.next/
out/

# OS-specific files
.DS_Store
Thumbs.db